:root {
	--color-iris: #4d5ae5;
	--color-navyblue: #2e2f42;
	--color-slate: #434455;
	--color-white: #fff;
	--color-cornflower: #e7e9fc;
	--color-cloud: #f4f4fd;
	--color-ocean: #404bbf;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--color-slate);
	background: var(--color-white);
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 1.5; /* 150% */
	letter-spacing: 0.32px;
}

.main-header {
	border-bottom: 1px solid var(--color-cornflower);
}

.logo {
	color: var(--color-iris);
	font-family: Raleway;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.17; /* 116.667% */
	letter-spacing: 0.54px;
	text-transform: uppercase;
	text-decoration: none;
}

.header-studio {
	color: var(--color-navyblue);
}

.menu-link:hover,
.contact:hover {
	color: var(--color-ocean);
}

.hero-button:hover {
	cursor: pointer;
	color: var(--color-white);
	background-color: var(--color-ocean);
}

.hero-button:focus {
	color: var(--color-white);
	background-color: var(--color-ocean);
}

.menu-link:focus,
.contact:focus {
	color: var(--color-ocean);
}

.menu-link {
	color: var(--color-navyblue);
	text-decoration: none;
	font-weight: 500;
}

.contact {
	font-style: normal;
	color: var(--color-slate);
	text-decoration: none;
}

.hero-section {
	background-color: var(--color-navyblue);
}
.hero-heading {
	color: var(--color-white);
	text-align: center;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.07; /* 107.143% */
	letter-spacing: 1.12px;
}

.hero-button {
	color: var(--color-white);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5; /* 150% */
	letter-spacing: 0.64px;
	border-radius: 4px;
	background: var(--color-iris);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.menu-nav,
.features-list,
.services-list,
.team-card-list,
.filter-btn-list,
.portfolio-list {
	list-style: none;
}

.features-subheading {
	color: var(--color-navyblue);
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2; /* 120% */
	letter-spacing: 0.4px;
}

.section-heading {
	color: var(--color-navyblue);
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11; /* 111.111% */
	letter-spacing: 0.72px;
	text-transform: capitalize;
}

.team-member {
	color: var(--color-navyblue);
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2; /* 120% */
	letter-spacing: 0.4px;
}

.job-title {
	text-align: center;
}

.btn {
	color: var(--color-iris);
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.64px;
	border-radius: 4px;
	border: 1px solid var(--color-cornflower);
	background: var(--color-cloud);
}

.btn:hover {
	background-color: var(--color-ocean);
	color: var(--color-white);
	cursor: pointer;
}

.btn:focus {
	background-color: var(--color-ocean);
	color: var(--color-white);
}

.project {
	color: var(--color-navyblue);
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2; /* 120% */
	letter-spacing: 0.4px;
}

.footer-studio {
	color: var(--color-cloud);
}

.tagline {
	color: var(--color-cloud);
}

.logo-tagline-footer {
	background: var(--color-navyblue);
}
